#############################################################################
# Makeinclude.config
#############################################################################

SHELL = /bin/sh

# Archiver
AR = /usr/bin/ar -rv  # GCC

# Set variables from environment variablesifndef USEOA_ROSE_OADIR
ifndef USEOA_OPEN64_OADIR
  ifndef OADIR
    $(error "Need OADIR env var set to OpenAnalysis path")
  else
    OADIR:=$(OADIR)
  endif
else
  OADIR:=$(USEOA_OPEN64_OADIR)
endif
  
ifndef USEOA_OPEN64_OPEN64TARG
  ifndef OPEN64TARG
    $(error "Need Open64 target path set in OPEN64TARG environment variable")
  else
    OPEN64TARG:=$(OPEN64TARG)
  endif
else
  OPEN64TARG:=$(USEOA_OPEN64_OPEN64TARG)
endif

ifndef USEOA_OPEN64_OPEN64BASE
  ifndef OPEN64BASE
    $(error "Need Open64 base path set in OPEN64BASE environment variable")
  else
    OPEN64BASE:=$(OPEN64BASE)
  endif
else
  OPEN64BASE:=$(USEOA_OPEN64_OPEN64BASE)
endif

# get current directory
WD := $(shell pwd)
ifndef USEOA_OPEN64_USEOAOPEN64DIR
  USEOAOPEN64DIR:=$(WD)
else
  USEOAOPEN64DIR:=$(USEOA_OPEN64_USEOAOPEN64DIR)
endif

ifndef USEOA_OPEN64_CXXFLAGS
  CXXFLAGS:=$(CXXFLAGS)
else
  CXXFLAGS:=$(USEOA_OPEN64_CXXFLAGS)
endif

ifndef USEOA_OPEN64_CCFLAGS
  CCFLAGS:=$(CCFLAGS)
else
  CCFLAGS:=$(USEOA_OPEN64_CCFLAGS)
endif

ifndef USEOA_OPEN64_ARCH
  PLATFORM := $(shell cd $(OADIR)/config && ./hpcplatform)
  ARCH:=$(PLATFORM)
  ifeq ($(PLATFORM),)
    $(error "Unknown/unsupported platform") # unavailable in older gmakes
  endif
else
  ARCH:=$(USEOA_OPEN64_ARCH)
endif

ifndef USEOA_OPEN64_CXX
  CXX:=$(CXX)
else
  CXX:=$(USEOA_OPEN64_CXX)
endif

ifndef USEOA_OPEN64_CC
  CC:=$(CC)
else
  CC:=$(USEOA_OPEN64_CC)
endif

ifndef USEOA_OPEN64_CXXLD
  ifndef CXXLD
    CXXLD:=$(CXX)
  else
    CXXLD:=$(CXXLD)
  endif
else
  CXXLD:=$(USEOA_OPEN64_CXXLD)
endif

ifndef USEOA_OPEN64_CCLD
  ifndef CCLD
    CCLD:=$(CC)
  else
    CCLD:=$(CCLD)
  endif
  CCLD:=$(CCLD)
else
  CCLD:=$(USEOA_OPEN64_CCLD)
endif

# ----------------- Set up OpenAnalysis and OPEN64 lib and inc dirs


##################################################
# Open64
##################################################

OPEN64 = $(OPEN64BASE)

OPEN64_IDEFS = -DIs_True_On -DMONGOOSE_BE -DBACK_END -DBUILD_WHIRL2F

OPEN64_IFLAGS = $(OPEN64_IDEFS) -I$(OPEN64)/include \
	-I$(OPEN64)/common/com -I$(OPEN64)/common/com/ia64 \
	  -I$(OPEN64)/common/util \
	-I$(OPEN64)/be/com -I$(OPEN64)/be/be \
	-I$(OPEN64TARG)/include

#-----------------------------------------------------------------
#  Compilers and building tools
#-----------------------------------------------------------------

# C++ compiler
CXX = g++ -fPIC -D__GNU_BUG_WORKAROUND

# ANSI C compiler
CC = gcc -fPIC -D__GNU_BUG_WORKAROUND


#-----------------------------------------------------------------
#  Compiling and linking flags 
#-----------------------------------------------------------------

COMMON_FLAGS = -D_LINUX_LINUX -D_SGI_SOURCE -D_SVR4_SOURCE \
    -DTARG_IA64 -DCOMPILE_UPC -D_NEW_SYMTAB -D_MIPSEL \
    -D_LONGLONG -D_MIPS_SZINT=32 -D_MIPS_SZPTR=32 -D_MIPS_SZLONG=32 \
    -D__MIPS_AND_IA64_ELF_H

USER_CXXFLAGS = -D_LANGUAGE_C_PLUS_PLUS -D_DEBUG $(COMMON_FLAGS)
USER_CFLAGS   = -D_LANGUAGE_C_PLUS_PLUS -D_DEBUG $(COMMON_FLAGS)


##################################################
# OpenAnalysis
##################################################

PLATFORM := $(shell cd $(OADIR)/config && ./hpcplatform)

OA_LIB = $(OADIR)/$(PLATFORM)/lib/libOAul.a
OA_INC =-I$(OADIR)/$(PLATFORM)/include


##################################################
# Whirl2OA
##################################################

WHIRL2OA = $(shell pwd)/Whirl2OA

