# -*-Mode: makefile;-*-
# $Header: /home/derivs2/mstrout/CVSRepository/UseNewOA-Open64/Makeinclude.config,v 1.5 2004/12/13 20:06:26 ntallent Exp $

## * BeginCopyright *********************************************************
## *********************************************************** EndCopyright *

#############################################################################
# $Source: /home/derivs2/mstrout/CVSRepository/UseNewOA-Open64/Makeinclude.config,v $
#############################################################################

SHELL = /bin/sh

#############################################################################
# Site/machine/architecture dependent configuration 
#############################################################################

#PLATFORM = $(WHIRL2XAIF_PLATFORM)

#include $(WHIRL2XAIF)/src/Makeinclude.config.$(PLATFORM)
include Makeinclude.config.i686-Linux

#############################################################################
# Site/machine/architecture independent configuration 
#############################################################################

##################################################
# Open64
##################################################

ifndef OPEN64BASE
  $(error "Need Open64 base path")
endif
ifndef OPEN64TARG
  $(error "Need Open64 installation path")
endif

OPEN64 = $(OPEN64BASE)
#OPEN64TARG = $(OPEN64)

OPEN64_IDEFS = -DIs_True_On -DMONGOOSE_BE -DBACK_END -DBUILD_WHIRL2F

OPEN64_IFLAGS = $(OPEN64_IDEFS) -I$(OPEN64)/include \
	-I$(OPEN64)/common/com -I$(OPEN64)/common/com/ia64 \
	  -I$(OPEN64)/common/util \
	-I$(OPEN64)/be/com -I$(OPEN64)/be/be \
	-I$(OPEN64TARG)/include

# For REGION stuff: -I$(OPEN64)/be/region -I$(OPEN64TARG)/be
